<div id="logo" (click)="onClick()" style="cursor:pointer;">
    <img src="./assets/img/{{logurl}}" width="128" height="160" alt="logo" >
</div>

<div class="dlg-model-back" style="display: {{showmodel?'block':'none'}}">
</div>

<div class="dlg-model" style="width:700px;height:450px;left:334px;top:164px;display: {{showmodel?'block':'none'}}">
    <div class="modal-header" style="height:36px">
        <div class="modal-title" style="float:left;width:150px;height:36px">机器人配置</div>
        <button type="button" class="close" aria-label="Close" (click)="closeModel()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="left-site">
            <img src="./assets/img/robot.png" style="width:248px;height:400px" usemap="#ancher" />
            <map name="ancher" id="ancher">
        
            <area shape="circle" coords="30,40,35" onclick="alert(1)"><area>
        </map>
        </div>
        <div class="right-site">
            端口：<input id="channel" [(ngModel)]="currentsel" />
            <p>{{angle}} &nbsp;&nbsp;({{minAngle}}～{{maxAngle}})</p>
            <div id="helmContainer">
                <input type="range" id="angle" min="-900" max="900" id="hpro" style="width:400px" [(ngModel)]="angle"
                    (change)="rangechg()" />
            </div>
            <div class="ctrl-row">
                <input type="button" value="-" style="width:50px;height:30px" (click)="addStep(-1)" />
                &nbsp;
                <input type="button" value="+" style="width:50px;height:30px" (click)="addStep(1)" />
            </div>
            <div class="ctrl-row">
                <input type="button" value="--" style="width:50px;height:30px" (click)="addStep(-10)" />
                &nbsp;
                <input type="button" value="++" style="width:50px;height:30px" (click)="addStep(10)" />
            </div>
            <div class="ctrl-row">
                <input type="button" value="读取" style="width:50px;height:30px" (click)="load()" />&nbsp;
                <input type="button" value="保存零位" style="width:70px;height:30px" (click)="save()" />&nbsp;
                <input type="button" value="保存最小" style="width:70px;height:30px" (click)="saveMin()" />&nbsp;
                <input type="button" value="保存最大" style="width:70px;height:30px" (click)="saveMax()" />
            </div>
            <div class="ctrl-row">
                文件名<input id="filename" [(ngModel)]="currentfile" />&nbsp;
                <input type="button" value="执行" style="width:50px;height:30px" (click)="Run()" />
            </div>
            <div class="ctrl-row">
                <input type="button" value="立正" style="width:50px;height:30px" (click)="Stand()" />&nbsp;
                <input type="button" value="写入零位" style="width:70px;height:30px" (click)="WriteZero()" />
            </div>
        </div>
    </div>

</div>