<div id="logo" (click)="onClick()" style="cursor:pointer;">
    <img src="./assets/img/{{logurl}}" width="128" height="160" alt="logo">
</div>

<div class="dlg-model-back" style="display: {{showmodel?'block':'none'}}">
</div>

<div class="dlg-model" style="width:700px;height:450px;left:334px;top:164px;display: {{showmodel?'block':'none'}}">
    <div class="modal-header" style="height:36px">
        <div class="modal-title" style="float:left;width:150px;height:36px">机器人配置</div>
        <button type="button" class="close" aria-label="Close" (click)="closeModel()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="left-site">
            <img src="./assets/img/robot.png" style="width:248px;height:400px" />
        </div>
        <div class="right-site">
            端口：<input id="channel" [(ngModel)]="currentsel" />
            <p id="info">{{angle}}</p>
            <div id="helmContainer">
                <input type="range" id="angle" min="-800" max="800" id="hpro" style="width:400px" [(ngModel)]="angle"
                    (change)="rangechg()" />
            </div>
            <div class="ctrl-row">
                <input type="button" value="+" style="width:50px;height:30px" (click)="addStep(1)" />
                &nbsp;
                <input type="button" value="-" style="width:50px;height:30px" (click)="addStep(-1)" />
            </div>
            <div class="ctrl-row">
                <input type="button" value="++" style="width:50px;height:30px" (click)="addStep(10)" />&nbsp;
                <input type="button" value="--" style="width:50px;height:30px" (click)="addStep(-10)" />
            </div>
            <div class="ctrl-row">
                <input type="button" value="归位" style="width:50px;height:30px" onclick="load()" />&nbsp;
                <input type="button" value="正中" style="width:50px;height:30px" (click)="load0()" />&nbsp;
                <input type="button" value="保存" style="width:50px;height:30px" (click)="save()" />
            </div>
            <div class="ctrl-row">
                文件名<input id="filename" [(ngModel)]="currentfile" />&nbsp;
                <input type="button" value="执行" style="width:50px;height:30px" (click)="Run()" />
            </div>
            <div class="ctrl-row">
                <input type="button" value="立正" style="width:50px;height:30px" (click)="Stand()" />&nbsp;
                <input type="button" value="写入零位" style="width:50px;height:30px" (click)="WriteZero()" />
            </div>
        </div>
    </div>

</div>