<div id="left_pain">
  <Logo-button></Logo-button>

  <div id="menu">
    <div id="social_icons">
      <twitter-button></twitter-button>
      <!-- <facebook-button></facebook-button>
      <googleplus-button></googleplus-button>
      <shoppingcart-button></shoppingcart-button> -->
      <a href="./config">配置</a>
    </div>

    <div class="button-group">
      <open-button></open-button>
      <save-button></save-button>
    </div>
    <div class="button-group">
      <new-button></new-button>
      <edit-properties-button></edit-properties-button>
    </div>
    <div class="button-group">
      <sync-button></sync-button>
      <play-pause-button></play-pause-button>
    </div>
    <div class="button-group">
      <previous-button></previous-button>
      <next-button></next-button>
    </div>
    <div class="button-group">
      <changeAngle-viewer></changeAngle-viewer> 
    </div>
  </div>
</div>

<div id="right_pain">
  <div id="indent_container">
    <model-editor></model-editor>
    <model-editor-panel></model-editor-panel>
    <diff-angle-viewer></diff-angle-viewer>

    <div id="scrollable_container" scrollable-container auto-resize auto-resize-layout="$scrollable_container.layout"
      auto-resize-onload="true">
      <frame-editor></frame-editor>
    </div>
  </div>
</div>